@model IEnumerable<EquipmentPlacementContractVM>

@{
	ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
	<a asp-action="Create">Create New</a>
</p>

<table class="table">
	<thead>
		<tr>
			<th>
				Production Facility
			</th>
			<th>
				Process Equipment Type
			</th>
			<th>
				Equipment Quantity
			</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.ProductionFacilityVM.Name)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.ProcessEquipmentTypeVM.Name)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.EquipmentQuantity)
				</td>
			</tr>
		}
	</tbody>
</table>
