@model HostProduction.Data.EquipmentPlacementContract

@{
    ViewData["Title"] = "Create";
    var errorMessage = TempData["ErrorMessage"] as string;
}

@if (!string.IsNullOrEmpty(errorMessage))
{
    <div class="alert alert-danger">
        @errorMessage
    </div>
}

<h1>Create</h1>

<h4>EquipmentPlacementContract</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProductionFacilityId" class="control-label"></label>
                <input asp-for="ProductionFacilityId" class="form-control" />
                <span asp-validation-for="ProductionFacilityId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProcessEquipmentTypeId" class="control-label"></label>
                <input asp-for="ProcessEquipmentTypeId" class="form-control" />
                <span asp-validation-for="ProcessEquipmentTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EquipmentQuantity" class="control-label"></label>
                <input asp-for="EquipmentQuantity" class="form-control" />
                <span asp-validation-for="EquipmentQuantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
